div.center
  h1 Reset Password

  form(action='/forgot-password', method="POST")
    input(type="hidden", name="token", value=token)

    -if(errors.length > 0)
      ul#errors
        for error in errors
          li= error
    div
      label(for="email") Email
      input.span4(type="text", name="email", value=email)

    div.well
      input.btn.btn-primary(type="submit", value="Reset")
