form#signup(action="/signup", method="post")
  input(type="text", name="email")
  input#signup-submit(type="submit", value="Sign up!")


script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
script(src="/javascripts/drawbridge/signup.js")