!!! 5
html
  head
    title= title
    style
      body{ text-align : center }
      div { margin: 20px auto; text-align: left; padding: 10px; border: 1px solid red; width: 600px}

  body
    div
      != body