
div.center
  div#confirmation
    p
      | We have sent a confirmation email to activate your account to the address:

    p
      a(href="mailto:" + email)=email

    p
      | To activate your account follow the link provided in the registration email. 