h1 Invitation to join...!

= email

p You are invited to sign up for...

p Click on the link bellow, or copy and paste it in your browser's navigation bar.

a(href='http://' + registrationLink)=registrationLink